<h1>Data Science Tools and Ecosystem </h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<h3>Some of the popular languages that Data Scientists use are:</h3>
<ol>
    <li>python</li>
    <li>sql</li>
    <li>R</li>
</ol>

<h3>Some of the commonly used libraries used by Data Scientists include:</h3>
<ol>
    <li>pandas</li>
    <li>numpy</li>
    <li>plotly</li>
</ol>

<h3>Data Science Tools</h3>
<ol>
    <li>Apache Spark</li>
    <li>Jupyter</li>
    <li>
Apache Spark</li>
</ol>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [14]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
#  This will convert 200 minutes to hours by diving by 60
def min_to_hr(x):
    return str(x//60)+' hr and '+str(x%60)+' min'
    
min_to_hr(200)

'3 hr and 20 min'

<h3><b>Objectives</b></h3>
<ul>
    <li>Python</li>
<li>SQL (Structured Query Language)</li>
<li>R</li>
<li>Julia</li>
<li>Scala</li>

    


</ul>

<h2>Mohammed A.Hakeem</h2>